{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: pink;">
    <div class="container-fluid">
      <img src="{% static 'images/flor.png' %}"  width="30" height="30" class="d-inline-block align-top" alt="">
      <a class="navbar-brand" href="{% url 'index' %}">Style</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Inicio<span class="sr-only">(current)</span></a>
            </li>                
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                Servicios
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: pink;">
                <li><a class="dropdown-item" href="{% url 'servicio1' %}">Servicio1</a></li>
                <li><a class="dropdown-item disabled" href="#">Servicio2</a></li>                    
              </ul>
            </li>
              <li class="nav-item ">
              <a class="nav-link" href="{% url 'presentation' %}">Quienes somos</a>
              </li>
              <!-- <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
              </li> -->
          </ul>
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#">Registrate</a>
            </li>
        </ul>
          
          <button type="button" class="btn btn-outline-secondary btn-lg" style="background-color: pink;">Reserva tu cita</button>           
          
          </div>
      </nav>
  </div>